/* src/index.css */

@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

.page {
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
}

.slick-slider {
  width: 80%;
  margin: auto;
}

/* Color classes for the new palette */
/* Update your index.css with the new color palette */
/* Darkest */
.bg-blue-900 {
  background-color: #070f2b;
}

/* Darker */
.bg-blue-800 {
  background-color: #1b1a55;
}

/* Dark */
.bg-blue-700 {
  background-color: #535c91;
}

/* Light */
.bg-blue-600 {
  background-color: #9290c3;
}

/* Lightest */
.bg-blue-500 {
  background-color: #c3c3e6;
}

/* Text Colors */
.text-blue-900 {
  color: #070f2b;
}

.text-blue-800 {
  color: #1b1a55;
}

.text-blue-700 {
  color: #535c91;
}

.text-blue-600 {
  color: #9290c3;
}

.text-blue-500 {
  color: #c3c3e6;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle-div {
  transition: transform 0.3s ease;
}

.circle-div:hover {
  transform: scale(1.05);
}

/* Replace <uniquifier> with a unique identifier and <weight> with your desired font weight (e.g., 400 for regular) */
.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-custom {
  font-family: 'Montserrat', sans-serif;
}

.bg-darkest {
  background-color: #070f2b;
}

.text-lightest {
  color: #ffffff;
}

.text-rectangle {
  background-color: #1b1a55;
  border-radius: 0.5rem;
}

.bg-lighter {
  background-color: #1b1a55;
}

.image-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.image-circle-small {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%;
  background-size: contain; /* Use 'contain' for SVGs to fit within the div */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0b0b3a; /* Adding a background color to ensure visibility */
  transition: transform 0.3s ease;
}

.image-circle-small:hover {
  transform: scale(1.1); /* Adjust scale factor as needed */
}

/* Position technology info next to circle divs */
.relative {
  position: relative;
  z-index: 1; /* Ensure technology-info appears above SVG */
}

.technology-info {
  position: absolute;
  top: 50%; /* Adjust vertically centered position */
  right: -220px; /* Adjust distance from the circle div */
  width: 200px; /* Adjust width as needed */
  padding: 10px;
  background-color: #1b1a55; /* Match the background color of text-rectangle */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.relative:hover .technology-info {
  opacity: 1;
}
